<td> {# TODO : upgrade this display. #}
    <form method="POST" action=""> {# TODO : complete this form. #}
        {% if isSubmit == 0 or isSubmit == false %}
            <input type="checkbox" name="check" id="check"
                   class="custom-checkbox" />
        {% else %}
            <input type="checkbox" name="check" id="check"
                   checked class="custom-checkbox" disabled="disabled"/>
        {% endif %}
    </form>
</td>
<td>{{ month|date('y-m-d') }}</td>
<td>{{ night }}</td>
<td>{{ middayMeal }}</td>
<td>{{ mileage }}</td>
<td>{{ totalAmount }} <span class="fa fa-eur"></span></td>
<td>
    <a href="{{ id }}" class="btn btn-primary">Details</a>
</td>