<td>{{ month|date('y-m-d') }}</td>
<td>{{ night }}</td>
<td>{{ middayMeal }}</td>
<td>{{ mileage }}</td>
<td>{{ totalAmount }} <span class="fa fa-eur"></span></td>
<td>
    <a href="{{ id }}" class="btn btn-primary">Details</a>
</td>