{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Expense account n°{{ id }}{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a href="" role="link" class="nav-link" id="add" data-toggle="modal" data-target="#newOtherExpenseAccount">
            <span class="fa fa-plus"></span> New other expense account
        </a>
    </li>
{% endblock %}

{% block elements %}
    {# TODO : UPDATE THIS PART IF I HAVE A BETTER SOLUTION #}
    {%  set totalNights = expenseAccount.0.night * nightPrice %}
    {% set totalMiddayMeals = expenseAccount.0.middayMeal * middayMealPrice %}
    {% set totalMileages = expenseAccount.0.mileage * mileagePrice %}
    <div class="mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('prospector_expenses_account') }}">Expenses account</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Expense account n°{{ id }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-12">
        <div class="mt-4">
            <div class="message">
                {% if app.session.flashbag is not empty  %}
                    <div class="mt-4">
                        <div class="col-12">
                            {% if app.session.flashBag.get('error') %}
                                {% for message in app.session.flashBag.get('error') %}
                                    <div class="alert alert-dismissible alert-danger text-center">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <span class="font-weight-bold">Error:</span> an error is occurred, please contact support if this happens again.
                                    </div>
                                {% endfor %}
                            {% elseif app.session.flashBag.get('warning') %}
                                {% for message in app.session.flashBag.get('warning') %}
                                    <div class="alert alert-dismissible alert-warning text-center">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <span class="font-weight-bold">Warning:</span> you don't have the permission to manipulate this expense account.
                                    </div>
                                {% endfor %}
                            {% elseif app.session.flashBag.get('success') %}
                                <div class="alert alert-dismissible alert-success text-center">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <span class="font-weight-bold">Success:</span> other expense account removed with success.
                                </div>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="">
                <h3 class="text-center">Expense account</h3>
            </div>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Flat fee</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit amount</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Night(s)</td>
                        <td>{{ expenseAccount.0.night }}</td>
                        <td>{{ nightPrice }}</td>
                        <td>{{ totalNights }}</td>
                    </tr>
                    <tr>
                        <td>Midday meal(s)</td>
                        <td>{{ expenseAccount.0.middayMeal }}</td>
                        <td>{{ middayMealPrice }}</td>
                        <td>{{ totalMiddayMeals }}</td>
                    </tr>
                    <tr>
                        <td>Mileages</td>
                        <td>{{ expenseAccount.0.mileage }}</td>
                        <td>{{ mileagePrice }}</td>
                        <td>{{ totalMileages }}</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div class="">
                <h3 class="text-center">Other expenses account</h3>
            </div>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Amount</th>
                        <th scope="col">File</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="data">
                    {% if otherExpensesAccount is not null or otherExpensesAccount is not empty  %}
                        {% for otherExpenseAccount in otherExpensesAccount %}
                            <tr>
                                <td>{{ otherExpenseAccount.date|date('Y-m-d') }}</td>
                                <td>{{ otherExpenseAccount.designation }}</td>
                                <td>{{ otherExpenseAccount.amount }}</td>
                                <td>
                                    <a href="{{ asset('upload/otherExpenseAccount/' ~ otherExpenseAccount.file) }}"
                                        target="_blank">voucher
                                    </a>
                                </td>
                                <td>
                                    <a href="{{
                                        path('prospector_other_expense_account_delete', {
                                            expenseAccountId: id ,
                                            otherExpenseAccountId: otherExpenseAccount.id
                                        }) }}"
                                        class="btn btn-primary">Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {# Modal to add new other expense account for the current expense account in the database. #}
    <div class="modal fade" id="newOtherExpenseAccount">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">New other expense account</h4>
                    <button type="button" class="close" id="cross" data-dismiss="modal">&times;</button>
                </div>
                {# Modal body #}
                <div class="modal-body">
                    {{ form_start(form, { 'attr' : { 'class': 'newOtherExpenseAccount' } }) }}
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group" id="dateGroup">
                                <label for="other_expense_account_date">Date: </label>
                                <input class="form-control" id="other_expense_account_date"
                                       name="other_expense_account[date]" type="date"
                                       min="{{ begin|date('Y-m-d') }}" max ="{{ end|date('Y-m-d') }}"
                                       data-type="date" required />
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="form-group" id="designationGroup">
                                {{ form_row(form.designation, {'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Restaurant with the client',
                                    'data-type': 'string'
                                }}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <div class="form-group" id="fileGroup">
                                {{ form_row(form.file, {'attr': {
                                    'class': 'form-control',
                                    'data-type': 'img'
                                }}) }}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group" id="amountGroup">
                                {{ form_row(form.amount, {'attr': {
                                    'class': 'form-control',
                                    'placeholder': '48',
                                    'data-type': 'decimal'
                                }}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/Form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/Ajax.js') }}"></script>
    <script>
        window.onload = function() {
            let instance = new Form(
                'newOtherExpenseAccount',
                'newOtherExpenseAccount',
                'save',
                ['add', 'close', 'cross'],
                '{{ path('prospector_expense_account_detail', { id: id }) }}',
                'data',
                'tableDelete',
                '/otherExpenseAccount-delete'
            );
        };
    </script>
{% endblock %}