{% extends 'base.html.twig' %}

{% block elements %}
    <div class="mt-4">
        <div class="row">
            <div class="col-11">
                {# Display a message if the user doesn't have expenses account. #}
                {% if expensesAccount is null or expensesAccount is empty %}
                    <div class="alert alert-dismissible alert-danger text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span class="font-weight-bold">Warning:</span> no expenses account save on your account.
                    </div>
                {% endif %}
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">Submit</th>
                            <th scope="col">Month</th>
                            <th scope="col">Night</th>
                            <th scope="col">Midday meal</th>
                            <th scope="col">Mileage</th>
                            <th scope="col">Other Expenses</th>
                            <th scope="col">Total amount</th>
                            <th scope="col"></th>{# Show (link with button class) #}
                        </tr>
                    </thead>
                    <tbody>
                        {% for expenseAccount in expensesAccount %}
                            <tr>
                                <td>
                                    <form method="POST" post=""> {# TODO : complete this form. #}
                                        {% if expenseAccount.isSubmit == 0 or expenseAccount.isSubmit == false %}
                                            <input type="checkbox" name="check" id="check"
                                                   class="custom-checkbox" />
                                        {% else %}
                                            <input type="checkbox" name="check" id="check"
                                                   checked class="custom-checkbox" disabled="disabled"/>
                                        {% endif %}
                                    </form>
                                </td>
                                <td>{{ expenseAccount.month|date('m') }}</td>
                                <td>{{ expenseAccount.night }}</td>
                                <td>{{ expenseAccount.middayMeal }}</td>
                                <td>{{ expenseAccount.mileage }}</td>
                                <td> {# TODO : upgrade this display. #}
                                    {% if expenseAccount.othersExpensesAccount|length == 0 %}
                                        no other expense
                                    {% else %}
                                        {{ expenseAccount.othersExpensesAccount|length }}
                                    {% endif %}
                                </td>
                                <td>{{ expenseAccount.totalAmount }} <span class="fa fa-eur"></span></td>
                                <td><a href="#" class="btn btn-primary btn-sm">Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1">
                <div class="btn-group-vertical" data-toggle="buttons">
                    <a href="#" class="btn btn-outline-primary">New expense account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}