{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Your expenses account{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a href="" role="link" class="nav-link" id="add" data-toggle="modal" data-target="#newExpenseAccount">
            <span class="fa fa-plus"></span> New expense account
        </a>
    </li>
{% endblock %}

{% block elements %}
    <div class="mt-4">
        <div class="col-12">
            {# Display a message if the user doesn't have expenses account. #}
            <div class="emptyData">
                {% if expensesAccount is null or expensesAccount is empty %}
                    <div class="alert alert-dismissible alert-warning text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span class="font-weight-bold">Warning:</span> no expenses account save on your account.
                    </div>
                {% endif %}
            </div>
            <div class="message"></div>
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    {#<th scope="col">Submit</th>#}
                    <th scope="col">Month</th>
                    <th scope="col">Night</th>
                    <th scope="col">Midday meal</th>
                    <th scope="col">Mileage</th>
                    <th scope="col">Total amount</th>
                    <th scope="col"></th>{# Show (link with button class) #}
                </tr>
                </thead>
                <tbody class="data">
                {% for expenseAccount in expensesAccount %}
                    <tr>
                        <td>{{ expenseAccount.month|date('Y-m-d') }}</td>
                        <td>{{ expenseAccount.night }}</td>
                        <td>{{ expenseAccount.middayMeal }}</td>
                        <td>{{ expenseAccount.mileage }}</td>
                        <td>{{ expenseAccount.totalAmount }}</td> {# <span class="fa fa-dollar"></span> #}
                        <td><a href="{{ expenseAccount.id }}" class="btn btn-primary">Details</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# Modal to add new expense account in database. #}
    <div class="modal fade" id="newExpenseAccount">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">New expense account</h4>
                    <button type="button" class="close" id="cross" data-dismiss="modal">&times;</button>
                </div>
                {# Modal body #}
                <div class="modal-body">
                    {{ form_start(form, { 'attr' : { 'class': 'newExpenseAccount' } }) }}
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group" id="nightGroup">
                                {{ form_row(form.night, {'attr': {
                                    'class': 'form-control',
                                    'placeholder': '0',
                                    'data-type': 'decimal'
                                }}) }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group" id="middayMealGroup">
                                {{ form_row(form.middayMeal, {'attr': {
                                    'class': 'form-control',
                                    'placeholder': '0',
                                    'data-type': 'decimal'
                                }}) }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group" id="mileageGroup">
                                {{ form_row(form.mileage, {'attr': {
                                    'class': 'form-control',
                                    'placeholder': '0',
                                    'data-type': 'decimal'
                                }}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div id="wrongData"></div>
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/Ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/Form.js') }}"></script>
    <script>
        window.onload = function() {
            let instance = new Form(
                'newExpenseAccount',
                'newExpenseAccount',
                'save',
                ['add', 'close', 'cross'],
                '{{ path('prospector_expenses_account') }}',
                'data',
                'tableDetail',
                '{{ path('prospector_expenses_account') }}'
            );
        };
    </script>
{% endblock %}