{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Your expenses account{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block elements %}
    <div class="mt-4">
        <div class="row">
            <div class="col-11">
                {# Display a message if the user doesn't have expenses account. #}
                {% if expensesAccount is null or expensesAccount is empty %}
                    <div class="alert alert-dismissible alert-danger text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span class="font-weight-bold">Warning:</span> no expenses account save on your account.
                    </div>
                {% endif %}
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">Submit</th>
                            <th scope="col">Month</th>
                            <th scope="col">Night</th>
                            <th scope="col">Midday meal</th>
                            <th scope="col">Mileage</th>
                            <th scope="col">Other Expenses</th>
                            <th scope="col">Total amount</th>
                            <th scope="col"></th>{# Show (link with button class) #}
                        </tr>
                    </thead>
                    <tbody>
                        {% for expenseAccount in expensesAccount %}
                            <tr>
                                <td> {# TODO : upgrade this display. #}
                                    <form method="POST" post=""> {# TODO : complete this form. #}
                                        {% if expenseAccount.isSubmit == 0 or expenseAccount.isSubmit == false %}
                                            <input type="checkbox" name="check" id="check"
                                                   class="custom-checkbox" />
                                        {% else %}
                                            <input type="checkbox" name="check" id="check"
                                                   checked class="custom-checkbox" disabled="disabled"/>
                                        {% endif %}
                                    </form>
                                </td>
                                <td>{{ expenseAccount.month|date('m') }}</td>
                                <td>{{ expenseAccount.night }}</td>
                                <td>{{ expenseAccount.middayMeal }}</td>
                                <td>{{ expenseAccount.mileage }}</td>
                                <td> {# TODO : upgrade this display. #}
                                    {{ expenseAccount.othersExpensesAccount|length }}
                                </td>
                                <td>{{ expenseAccount.totalAmount }} <span class="fa fa-eur"></span></td>
                                <td>
                                    {# TODO : Link with a button sceen send to the selected expense account. #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1">
                <div class="btn-group-vertical" data-toggle="buttons">
                    <button type="button" role="button" class="btn btn-outline-primary"
                            data-toggle="modal" data-target="#newExpenseAccount">
                        New expense account
                    </button>
                </div>
            </div>
        </div>
    </div>
    {# Modal to add new expense account in database. #}
    <div class="modal fade" id="newExpenseAccount">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">New expense account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                {# Modal body #}
                <div class="modal-body">
                    <form action="{{ path('prospector_expense_account_submit') }}" method="post" id="new">
                        <fieldset>
                            {# <legend class="text-center">New expense account</legend> #}
                            {#  #}
                            <div class="row">
                                {# TODO : this input is not necessary because the control is when the user will submit the expense account. #}
                                {#<div class="col-3">#}
                                    {#<div class="form-group" id="monthGroup">#}
                                        {#<label for="month">Month:</label>#}
                                        {#<select id="month" class="form-control">#}
                                            {#{% for key, value in dates %}#}
                                                {#<option value="{{ value }}">{{ value }}</option>#}
                                            {#{% endfor %}#}
                                        {#</select>#}
                                    {#</div>#}
                                {#</div>#}
                                <div class="col-4">
                                    <div class="form-group" id="nightGroup">
                                        <label for="night">Nights:</label>
                                        <input type="number" class="form-control" id="night" aria-describedby="" placeholder="0" name="night">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group" id="middayMealGroup">
                                        <label for="middayMeal">Midday meals:</label>
                                        <input type="number" class="form-control" id="middayMeal" aria-describedby="" placeholder="0" name="middayMeal">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group" id="mileageGroup">
                                        <label for="mileage">Mileages:</label>
                                        <input type="number" class="form-control" id="mileage" aria-describedby="" placeholder="0" name="mileage">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}